<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/layout" layout:decorate="~{system/layout/layout}">
<head>
    <title>Authority</title>
</head>
<body>
<div layout:fragment="main-content">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Authority</h1>
    </div>

    <!-- Authority List Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Authority List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Roles</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="admin : ${admins}">
                        <td th:text="${admin.id}"></td>
                        <td th:text="${admin.username}"></td>
                        <td>
                            <span th:each="role : ${adminRolesMap.get(admin)}" th:text="${role} + ' '"></span>
                        </td>
                        <td>
                            <a th:href="@{/system/authorities/{id}/edit(id=${admin.id})}" class="btn btn-sm btn-primary">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>